body {
    /* font-family: 'Cuprum', sans-serif;
    font-family: 'Roboto Slab', serif; */
    font-family: 'Rubik', sans-serif;
    background: rgba(29, 163, 22, 0.27);
}
.container {
    max-width: 1024px;
    margin: 0px auto;
}
.header, .footer{
}
.header_flex, .footer_flex, .subscribe, .plan_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(29, 163, 22, 0.3);
    /* padding: 5px 5px 5px 5px; */
}
.about{
    display: flex;
    /* align-items:flex-start; */
    align-items:stretch;
    /* border: 1px solid rgb(80, 80, 255); */
}
.about_title{
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.2px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 440px;
    text-align: center;
}
.about_wtitle{
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 10px;
}
.about_text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
}
.about_stext{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.about_wtext{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    text-align: justify;
    /* border: 1px solid rgb(72, 255, 0); */
}
.about_skill_text{
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 10px;
}
.about_text1{
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #4c4c52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* text-align: center; */
}
.about_skill{
    width: 42%;
    background: rgba(29, 163, 22, 0.3);
    /* border: 1px solid rgb(80, 80, 255); */
    padding: 20px 5px 20px 5px;
}
.about_work{
    width: 58%;
    padding: 20px 5px 20px 15px;
    background: rgba(29, 163, 22, 0.1);
    /* border: 2px solid red; */
}
.circle {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: #fff;
    padding: 2px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb;
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}
.circle img {
    display: block;
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.subscribe{
    margin-bottom: 5px;
}
.subscribe_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #000000;
    margin-bottom: 38px;
}




/* 



.input{
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 14px;
    margin-right: 39px;
}
.input::placeholder, input{
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}
.input:focus{
    outline: none;
}
.plan{
    margin-bottom: 132px;
}
.plan_text{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
}

.item{
    width: 330px;
    background: #dedede;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0px 27px;
}
.item:hover{
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.item:hover .item_text, .item:hover .item_title, .item:hover .item_li{
    color: white;
    transition: 500ms;
}
.item_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
}
.item_title{
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0px 28px;
}
.item_title span{
    font-size: 28px;
}
.item_li{
    list-style: none;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}
.item:hover .btn_item{
    color: white;
    background: #9F3919;
    transition: 500ms;
}
.btn_item{
    width: 288px;
    background: white;
    color: #5454D4;
    margin-top: 36px;
}
.btn_violet{
    background: #5454D4;
}
.btn_violet:hover{
    background: #3a3aa9;
    transition: 400ms;
}
.btn_transp{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.btn_transp:hover{
    background: #dbdbff;
    transition: 400ms;
}.nav_li{
    display: inline-block;
    margin-left: 49px;
}
.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #1e00ff;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.btn {
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn_orange{
    background: #FF7143;
    margin-left: 50px;
}
.btn_orange:hover{
    background: #c74f27;
    transition: 400ms;
} */
